@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

body{
   background-color: #202124;
   font-family: 'Source Sans Pro', sans-serif;
}

.flexContainer{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-top: 120px;
}

form{
   display: flex;
   flex-direction: column;
   width: 100%;
   align-items: center;
}

form > input{
   border-radius: 20px;
   border: 1px solid #36373b;
   background-color: #202124;
   padding: 13px 20px;
   width: 35%;
   margin-top: 20px;
   color: #fff;
}

.buttonsContainer{
   display: flex;
   margin-top: 20px;
}

.buttonsContainer > input{
   border-radius: 5px;
   border: 1px solid #303134;
   background-color: #303134;
   color: #fff;
   padding: 12px 17px;
   margin: 10px;
}

.links{
   display: flex;
   justify-content: flex-end;
}

.links > a {
   color: #fff;
   margin: 10px;
   text-decoration: none;
}

/* Advanced Search Page */


.advancedSearch{
   margin-left: 20px;
}

.advancedSearch h2{
   color: #F18B82;
}

.advancedSearchBox{
   background-color: #AECBFA;
   color: #000;
   width: fit-content;
   border-radius: 0;
}

.advancedSearch p, label, h3 {
   color: #fff;
}

.advancedSearch form{
   justify-content: flex-start;
   align-items: flex-end;
   width: 700px;
}

.inputContainer{
   width: 100%;
   display: flex;

}

.inputContainer label{
   width: 200px;
}

.inputContainer input{
   width: 500px;
   margin: 10px;
}